@font-face {
    font-family: 'Asap_bold';
    src: url('/styles/fonts/asap-bold-webfont.eot');
    src: url('/styles/fonts/asap-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/styles/fonts/asap-bold-webfont.woff2') format('woff2'),
    url('/styles/fonts/asap-bold-webfont.woff') format('woff'),
    url('/styles/fonts/asap-bold-webfont.ttf') format('truetype'),
    url('/styles/fonts/asap-bold-webfont.svg#asapbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Asap_bold_italic';
    src: url('/styles/fonts/asap-bolditalic-webfont.eot');
    src: url('/styles/fonts/asap-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('/styles/fonts/asap-bolditalic-webfont.woff2') format('woff2'),
    url('/styles/fonts/asap-bolditalic-webfont.woff') format('woff'),
    url('/styles/fonts/asap-bolditalic-webfont.ttf') format('truetype'),
    url('/styles/fonts/asap-bolditalic-webfont.svg#asapbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Asap_italic';
    src: url('/styles/fonts/asap-italic-webfont.eot');
    src: url('/styles/fonts/asap-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('/styles/fonts/asap-italic-webfont.woff2') format('woff2'),
    url('/styles/fonts/asap-italic-webfont.woff') format('woff'),
    url('/styles/fonts/asap-italic-webfont.ttf') format('truetype'),
    url('/styles/fonts/asap-italic-webfont.svg#asapitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Asap';
    src: url('/styles/fonts/asap-regular-webfont.eot');
    src: url('/styles/fonts/asap-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/styles/fonts/asap-regular-webfont.woff2') format('woff2'),
    url('/styles/fonts/asap-regular-webfont.woff') format('woff'),
    url('/styles/fonts/asap-regular-webfont.ttf') format('truetype'),
    url('/styles/fonts/asap-regular-webfont.svg#asapregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Lobster';
    src: url('/styles/fonts/lobster-regular-webfont.eot');
    src: url('/styles/fonts/lobster-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/styles/fonts/lobster-regular-webfont.woff2') format('woff2'),
    url('/styles/fonts/lobster-regular-webfont.woff') format('woff'),
    url('/styles/fonts/lobster-regular-webfont.ttf') format('truetype'),
    url('/styles/fonts/lobster-regular-webfont.svg#lobsterregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/** Global **/
html {
    font-family: 'Asap', 'Helvetica', 'sans-serif';
    height: 100%;
}
body {
    min-height: 100%;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lobster', 'Georgia', 'Times';
}

h2 {
    font-size: 3rem;
    margin: 20px 0 25px 0;
}
h3 {
    font-size: 2.4rem;
    margin: 30px 0 20px 0;
}
h4 {
    font-size: 1.7rem;
    margin: 25px 0 17px 0;
}
h5 {
    font-size: 1.5rem;
    margin: 20px 0 15px 0;
}
h6 {
    font-size: 1.3rem;
    margin: 15px 0 10px 0;
}

/** Header **/
header {
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #efefef;
    text-align: center;
    position: relative;
}

header h1 {
    display: inline-block;
}
header h1 img {
    height: 50px;
}

header nav {
    display: inline-block;
    position: absolute;
    right: 15px;
    height: 100%;
}
header nav ul {
    height: 100%;
}
header nav ul li {
    display: inline-block;
    margin-left: 15px;
}
header nav li img {
    display: block;
    padding: 5px;
    height: 40px;
}

/** Footer **/
footer {
    height: 70px;
    width: 100%;
    border-top: 1px solid #efefef;
    background-color: #4b5b62;
    position: absolute;
    bottom: 0;
    overflow: hidden;
}

footer .legal-info {
    text-align: center;
    font-size: 0.9rem;
    padding-top: 10px;
}

footer ul {
   text-align: center;
    padding-top: 5px;
}
footer ul li {
    display: inline-block;
    padding: 5px 15px;
}

/** Main section **/
section#main {
    padding: 10px 0 100px;
    width: 75%;
    margin: auto;
}

#main p {
    margin-bottom: 10px;
    margin-top: 5px;
    line-height: 150%;
    text-align: justify;
}

#main pre {
    margin: 5px 3%;
}

#main ul {
    padding-left: 4%;
}
#main ul li:before{
    content: '→';
    position: relative;
    left: -1%;
}
#main ol {
    padding-left: 4%;
    list-style: decimal;
}
#main ol li {
    padding-left: 1%;
}

#main em { font-style: italic; }
#main strong { font-weight: bold; }
#main sub {
    vertical-align: sub;
    font-size: smaller;
}
#main sup {
    vertical-align: super;
    font-size: smaller;
}

#main blockquote {
    font-style: italic;
    margin: 10px 3%;
    padding-left: 1%;
    border-left: 3px solid #ccc;
}

#main img {
    max-width: 75%;
    display: block;
    margin: 40px auto;
}

#main table {
    margin: 10px auto;
}
#main table, #main table td {
    border: 1px solid grey;
}
#main table th, #main table td {
    padding: 10px;
}
#main table th {
    background-color: grey;
    color: white;
    border-left: 1px solid white;
}
#main table th:nth-child(1){
    border-left: 1px solid grey;
}
