
    </section>
    <footer class="global-footer">
        <p class="global-footer-legal-info">
        	<a class="global-footer-legal-info-link" href="https://creativecommons.org/licenses/by-nc-nd/3.0/">La veilleuse est sous CC-BY-NC-ND</a>
    	</p>
    </footer>
</body>

<script src="/lib/highlightjs/highlight.pack.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{{#isWatch}}<script src="http://localhost:35729/livereload.js"></script>{{/isWatch}}

</html>
