<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset=utf-8>
	<meta name=viewport content="width=device-width, initial-scale=1">

    <link href="/styles/reset.css" rel='stylesheet' type='text/css'>
    <link href="/styles/style.css" rel='stylesheet' type='text/css'>

	<title>{{title}} - PoneyCase</title>
</head>
<body>
    <header>
        <h1><img src="/assets/common/logo.png"></h1>
    </header>
    <section id="main">
	    {{{contents}}}
    </section>
    <footer>
        A propos
    </footer>
</body>
</html>
