<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset=utf-8>
	<meta name=viewport content="width=device-width, initial-scale=1">

    <link href="/styles/reset.css" rel='stylesheet' type='text/css'>
    <link href="/styles/style.css" rel='stylesheet' type='text/css'>
    <link href="/styles/darkula.css" rel="stylesheet" type="text/css">

	<title>{{title}} - La veilleuse</title>
</head>
<body>
    <header>
        <h1><img src="/assets/common/logo.png"></h1>
        <nav>
            <ul>
                <li><a href="https://github.com/poneyCase/poney-case"><img src="/assets/common/github.png"></a></li>
            </ul>
        </nav>
    </header>
    <section id="main">
	    {{{contents}}}
    </section>
    <footer>
           <ul>
               <li><a>L'équipe</a></li>
               <li><a>A propos</a></li>
           </ul>
        <p class="legal-info"><a href="https://creativecommons.org/licenses/by-nc-nd/3.0/">La veilleuse est sous CC-BY-NC-ND</a></p>
    </footer>
</body>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</html>
